<div class="right-head">
     Économie
</div>
<div class="soutien">
  <a href="https://g1.duniter.fr/api/#/v1/payment/2ny7YAdmzReQxAayyJZsyVYwYhVyax2thKcGknmQy5nQ?name=cgeek&amp;amount=50&amp;comment=Don%20de%20soutien&amp;redirect_url=https%3A%252F%252Fblog.cgeek.fr">
      <p>
          <img src="/images/duniter-logo.png">
          <span>J'accepte les <b>Ğ1</b> !</span>
      </p>
  </a>
  <a href="https://www.gchange.fr/#/app/wot/36UhAqrkDx11ifN7WaBM6Q5bMUJxhKb1wJnnPFnkLkCF/">
      <p class="gchange">
          <img src="/images/gchange.png">
          <span>Je commerce sur <b>ğchange</b></span>
      </p>
  </a>
</div>
